################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FileRSAProject/v16/Server/sqlite3
/FileRSAFromProject/bin/Debug
/FileRSAFromProject/obj/Debug
